* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.navbar {
    background-color: rgb(50, 47, 47);
    color: white;
    padding: 10px;
}

.navbar ul {
    display: flex;
    width: 800px;
    margin: 0px auto;
    list-style: none;
    font-size: 18px;
}

.navbar ul li {
    margin: 10px;
    
}
.navbar ul li:hover {
    color: yellow;
}